button a {
	  font-family: 'Raleway', Arial, sans-serif;
text-align: center;
text-transform: uppercase;
font-weight: 500;
}

body{
    font-family: 'Raleway', Arial, sans-serif;
  font-size:16px;
   background-color: #E9C677;
}

